body, html {
  font-family: "Helvetica Neue", Helvetica, tahoma, verdana, arial, sans-serif
}

a:link {
  color: #ffa501;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #9f3700;
  transition: color 0.3s ease;
}

body {
  margin: 0;
  font-size: 12pt;
  line-height: 1.6em;
  width: 100%;
  background-color: #7ba400;
}

div.hentry {
  position: relative;
  color: #444;
  background-color: #fafafa;
  margin: 0;
  margin: 0 auto;
  padding: 2em;
  width: 72%;
  min-width: 640px;
  max-width: 960px;
  border-left: 1px solid #496000;
  border-right: 1px solid #496000;
  -moz-box-shadow:    1px 1px 5px 1px #496000;
  -webkit-box-shadow: 1px 1px 5px 1px #496000;
  -ms-box-shadow:     1px 1px 5px 1px #496000;
  box-shadow:         1px 1px 5px 1px #496000; 
}

#banner {
  position: fixed;
  width: 149px;
  height: 149px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  right: 0px;
  margin-right: -37px;
  top: 0;
}

#banner > span {
  display: block;
  overflow: hidden;
  width: 190px;
  font-size: 10pt;
  font-weight: bold;
  word-spacing: 2px;
  text-decoration: none;
  position: relative;
  left: 20px;
  top: -37px;
  text-align: center;

  -moz-transform-origin: 0 0 ;
  -moz-transform:rotate(45deg);
  -webkit-transform-origin: 0 0 ;
  -webkit-transform:rotate(45deg);
  -ms-transform-origin: 0 0 ;
  -ms-transform:rotate(45deg);
  transform-origin: 0 0 ;
  transform:rotate(45deg);
}

h1, h2, h3, h4 {
  padding: 0;
  clear: both;
}

h1 {
  background-image: url("logo-koralquery.svg");
  background-position: left center;
  background-repeat: no-repeat;
  height: 3em;
}

#reference {
  position: absolute;
  top: 20pt;
  right: 20pt;
  z-index: 22;
}


/**
 * Table definitions.
 */
table {
  width: 100%;
  empty-cells: show;
  border-collapse: collapse;
  vertical-align: top;
  font-size: 11pt;
}

thead {
  background-color: #ffa501;
  border: 2px solid #ffa501;
  border-bottom-width: 0;
  color: white;
}

td {
  border: 2px solid #ffa501;
  padding: .3em 1em;
}

td.opt:after {
  vertical-align: super;
  content: "(?)";
  font-style: italic;
  font-size: 80%;
}

tbody tr {
  background-color: #ffd080;
}

tbody tr:nth-child(odd) {
  background-color: #f4eebb;
}

h1 > span {
  margin-left: -3000px;
}

nav {
  display: none;
}

p {
  padding: 0;
  margin-bottom: .8em;
  text-indent: 0;
  text-align: justify;
}

p.todo, pre {
  padding: 10pt;
  border-radius: 10px;
}

pre {
  color: white;
  background-color: #7ba400;
  border: 2px solid #496000;
  font-size: 11pt;
  line-height: 1.3em;
}

#banner > span {
  color: #9f3700;
  background-color: #ffa501;
  border: 2px solid #9f3700;
}


dl {
  margin-left: 2em;
}

dl > dt {
  margin-left: 0;
  font-weight: bold;
}

dl > dd {
  margin-left: 2em;
  margin-right: 2em;
}

table dl {
  margin-left: 0;
}

table dl > dt {
  font-weight: inherit;
}


h1 { font-size: 250%; margin: 0; }
h2 { font-size: 180%; margin: .8em 0 .1em 0; }
h3 { font-size: 150%; margin: .6em 0 .05em 0; }
h4 { font-size: 120%; }

section.guide h4,
section.guide h3 {
  margin-top: 0;
}


main section.guide {
  border: 5pt solid #ffa501;
  padding: 1em 1em;
  background-color: #ffd080;
}

section.guide p:last-of-type {
  margin-bottom: 0;
}

div.h-entry > div {
  font-size: 70%;
  text-align: right;
}

div.h-entry > div p {
  line-height: 1.2em;
  padding: 0;
  margin: 0;
}


p.todo {
  font-size: 9pt;
  margin: .5em;
  float: right;
  width: 10em;
  border: 2px dashed orange;
  color: red;
  background-color: yellow;
}

table.koral-type tbody td:nth-of-type(1),
table.koral-type tbody td:nth-of-type(2),
table.koral-type tbody td:nth-of-type(3) {
  font-family: Consolas, "Lucida Console", "DejaVu Sans Mono", monospace;
}


code, h4.koral-type {
  font-family: Consolas, "Lucida Console", "DejaVu Sans Mono", monospace;
  border-radius: 4px;
  padding-left: 5pt;
  padding-right: 5pt;
  background-color: rgba(0, 0, 0, 0.25);
}

h4.koral-type {
  font-weight: bold;
  display: inline-block;
  padding: .15em 2em;
}

code:not(.att):before {
  content: "\"";
}

code:not(.att):after {
  content: "\"";
}

aside {
  filter: grayscale(100%);
  border: 2px dashed #888;
  color: #888;
  padding: 10pt;
  border-radius: 10px;
  margin-bottom: 10pt;
}

section {
  clear: both;
}

div.changes pre {
  text-align: left;
}

div.values {
  display:none;
}

div.values:target {
  display:block;
  padding:1em;
}


